
/*  showcase */
#showcase .showcase-content {

    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
}

/* Ikony a jejich rozmístění */
#icons .items {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

#icons .items .item {
    flex: 1;
    text-align: center;
}

#icons .items .item i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Obrázky */
#ukazka .items {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

#ukazka .items img {
    height: auto;
}

/* Patička */
#footer {
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
}
