#icons .items {
    display: flex;
    flex-direction: space-around;
    align-items: center;
}

#icons .items .item {
    display: flex;
    flex-direction: space-around;
    align-items: center;
    margin: 1rem 0;
}

#icons .items .item i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
     }

